
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a044ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3f6fb5;
}


@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
        /* Adjust the distance you want the element to move */
    }

    100% {
        transform: translateY(0);
    }
}

.hero-png {
    animation: moveUpDown 3s ease-in-out infinite;
    /* Adjust the animation duration as needed */
}
.service:hover .clickMe{
    
    transform: translateX(0px);
    opacity:1;
    /* z-index: 1; */
}
.clickMe{
    transform: translateX(100px);
    opacity:0;
    /* z-index:-3; */
    transition: 0.1s ease-in-out;
}

.fab-icon{
    cursor: pointer;
    
}

.fab-icon:hover{
    transform:scale(1.2)
}

@media only screen and (max-width: 768px) {
    /* Styles for mobile devices */



}